@media (max-width: 1100px) {
	.about,
	.receive,
	.conquer,
	.gallery,
	.blockquote,
	.video,
	.indicators,
	.blog,
	.team,
	.service,
	.map,
	.contact,
	.footer {
		padding: 70px 0;
		&__title {
			margin-bottom: 40px;
		}
	}
	.about {
		&__desc {
			justify-content: space-between;
			gap: 30px;
			&-p {
				max-width: calc((100% - 30px) / 2);
			}
		}
	}
	.receive {
		&__content {
			gap: 60px;
		}
		&__cards {
			gap: 20px;

			flex-wrap: wrap;
			justify-content: center;
			margin-bottom: 50px;
		}
	}
	.conquer {
		background-position: right 75px;
	}
}
@media (max-width: 1060px) {
	.conquer {
		background-image: none;
		&__inner {
			max-width: 100%;
		}
	}
}
@media (max-width: 970px) {
	.header {
		position: relative;

		&__nav {
			justify-content: space-between;
		}
	}

	.header__nav.open {
		ul {
			transform: translateX(0);
			display: flex;
		}
	}

	.menu {
		ul {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;

			align-items: center;
			flex-direction: column;
			justify-content: start;

			margin: 0;
			padding: 100px;

			transition: all 0.5s;
			transform: translateX(200%);
			display: none;

			background: #01353e;

			gap: 30px;
		}

		&__btn-burgher {
			z-index: 2;

			display: block;

			margin-right: 15px;
		}
	}
	.logo {
		z-index: 2;
	}
}

@media (max-width: 740px) {
	.title {
		font-size: 7.5vw;
		padding-left: 20px;
		padding-right: 20px;
		&::after {
			font-size: 11.25vw;
		}
	}
	.header {
		&__title {
			font-size: 27vw;
		}

		&__subtitle {
			font-size: 3.2vw;
		}
	}
	.receive {
		&__card {
			max-width: 100%;
			padding: 0 50px;
		}
		&__content {
			flex-direction: column;
			align-items: center;
			gap: 30px;
		}
		&__info {
			margin-right: 50px;
		}
	}
}

@media (max-width: 500px) {
	.about__desc-p {
		max-width: 100%;
	}
}
