@import 'reset';

.container {
	width: 1220px;
	padding: 0 10px;
	margin: 0 auto;
}

* {
	// font-family: 'Raleway', sans-serif;
	font-family: 'Roboto Condensed', sans-serif;
}
@import 'block/title';
@import 'block/text';

.header {
	background: url('../img/bg.png') no-repeat center center/cover;
	height: 100vh;
	padding: 35px 0 92px;
	&__nav {
		display: flex;
		justify-content: flex-start;
	}

	&__content {
		height: calc(100vh - 95px);

		padding-bottom: 93px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		color: #0d302c;
		font-family: 'Raleway';
		font-size: 200px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.6px;
		margin-top: auto;
	}

	&__subtitle {
		color: #000;
		font-family: 'Roboto Condensed';
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 0.6px;
		margin-bottom: auto;
	}

	&__icon {
		margin-top: auto;
		height: 69px;
	}
}

.logo {
	&__image {
		max-width: 60px;
	}
}

.menu {
	margin: auto;
	padding-right: 60px;
	ul {
		display: flex;
		gap: 45px;
		list-style: none;
		a {
			color: #fff;
			font-family: Roboto Condensed;
			font-size: 24px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			letter-spacing: 0.6px;
			text-decoration: none;
		}
	}
}

.about {
	min-height: 966px;
	padding-top: 189px;
	padding-bottom: 200px;

	&__desc {
		display: flex;
		flex-wrap: wrap;
		column-gap: 120px;
		row-gap: 30px;
	}
	&__title {
		margin-bottom: 100px;
	}
	&__desc-p {
		max-width: 480px;
	}
}

.receive {
	background: #f8f8f8;
	padding-top: 200px;
	padding-bottom: 200px;
	&__cards {
		display: flex;
		justify-content: space-between;
	}
	&__card {
		width: 350px;
		margin-bottom: 100px;
	}

	&__card-inner {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		margin-bottom: 20px;
	}
	&__title {
		margin-bottom: 100px;
	}
	&__content {
		display: flex;
		justify-content: space-between;
	}
	&__text {
		width: 600px;
		p + p {
			margin-top: 30px;
		}
	}

	&__info-item {
		color: #242121;
		line-height: 18px;
		letter-spacing: 0.6px;
	}

	&__info-item-inner {
		font-size: 24px;
		font-weight: 400;
		display: flex;
		img {
			height: 15px;
			margin-right: 10px;
		}
	}
	&__info-name {
		font-size: 14px;
		font-weight: 300;
	}
	&__info-item + &__info-item {
		margin-top: 18px;
	}
}
.conquer {
	background: url('../img/conquer-bg.png') no-repeat;
	background-position: right 82%;
	background-size: 50%;
	padding-top: 200px;
	padding-bottom: 147px;
	&__inner {
		max-width: 511px;
	}
	&__title {
		margin-bottom: 100px;
	}
	&__text {
		p + p {
			margin-top: 30px;
		}
	}
}
